*.o
*.exe
tarefa*/testes/*.out

tarefa00/bomdia
tarefa00/boanoite

tarefa01/megasena

tarefa02/tarefa02
professor_carlos

tarefa03/fakenews

tarefa04/seaofwords

tarefa05/calculadora

tarefa06/sala_de_espera

tarefa07/mensageiro

tarefa08/listas_legais
listas_legais

tarefa09/diadeuber
diadeuber

tarefa10/corretor
tarefa10/*.o
tarefa10/_pycache_

tarefa11/caminho
tarefa11/testes/*.png

tarefa12/planilha
